body {
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .modal-backdrop {
    position: fixed; /* Posição fixa para cobrir toda a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fundo semi-transparente */
    display: none; /* Inicialmente escondido */
    z-index: 1050; /* Garante que esteja acima de outros elementos */
    overflow: auto; /* Permite rolagem se o modal for muito grande */
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 500px; 
    width: 80%; 
}

.close-button {
    float: right;
    cursor: pointer;
}

.modal input[type="text"], .modal input[type="number"] {
  width: 100%; 
  padding: 10px; 
  margin: 8px 0; 
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 16px; 
}

.modal label {
  display: block; 
  margin-bottom: 5px; 
  font-size: 18px; 
  font-weight: bold; 
}